.user-list-container{
    .refresh-button{
        width: 100px;
    }
    .user-list-table{
        opacity: 1;
        .action{
            .divider{
                margin: 0 5px;
                width: 1px;
                height: 10px;
                display: inline-block;
                &::after{
                    content: '|';
                    
                }
            }
        }
    }
}
