.bubble-container {

    .list {
        // display: flex;
        // justify-content: flex-start;
        width: 900px;
        height: 100px;
        position: relative;

        li {
            width: 100px;
            height: 100px;
            border: 1px solid #000;
            display: inline-block;
            position: absolute;
            transition: all ease 1.5s;
            // margin-right: 10px;
        }
    }

    button {
        margin-right: 20px;
    }
}