.container {
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: flex-start;

    .content {
        width: 400px;
        height: 500px;
        margin-right: 50px;
        border: 1px solid #000;
    }

    .main {
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        canvas {
            width: 500px;
            height: 200px;
            border: 1px solid #000;
        }
    }

}